@font-face {
  font-family: titleFont;
  src: url("../assets/fonts/NotoSansJP-Regular.otf");
}

.errorClass {
  border: 2px red solid;
}

.title {
  font-family: titleFont;
  font-size: 28px;
  line-height: 2;
  letter-spacing: 0.8px;
  font-weight: 600;
  text-align: center;
  color: #ffffffe1;
}

.card {
  background: #6dd5ed;  /* fallback for old browsers */
  border-radius: 15px;
  padding: 15px;
  color: #ffffffe1;
  text-align: center;
  font-size: 22px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.404);

  .btn {
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
  }
}

h5 {
    display: inline-block !important;
}
