<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-md-2 mx-auto">
      <div class="card">
        <div class="card-img-top mb-2">
          <h1 class="title">FiveCast</h1>
        </div>
        <form [formGroup]="searchForm" class="">
          <input
            placeholder="Enter city name"
            formControlName="searchString"
            type="text"
            id="searchString"
            class="form-control"
            required
            autofocus
            [ngClass]="{ errorClass: weatherform.searchString.errors && submitted }"
          />
          <div class="btnContainer">
            <button
              type="button"
              class="btn btn-block mt-2"
              (click)="searchCityWeather()"
            >
              Search
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-8 mx-auto">
      <div class="row">
        <div *ngFor="let weekDay of retrievedForcast" class="col">
          <div class="card">
            <span class="title"
              >{{ weekDay.day | date: "EEEE" }}
              <img
                src="http://openweathermap.org/img/wn/{{
                  weekDay.icon
                }}.png" /></span
            ><br />
            <div class="card-image">
              <h5>Average Temperature</h5>
              {{ weekDay.temp | number: "1.2-2" }}°C<br />
            </div>
            <card class="body">
              <h5>Wind Speed:</h5>
              {{ weekDay.speed | number }}Mph<br />
              {{ weekDay.description | titlecase}}<br />
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
