@font-face {
  font-family: titleFont;
  src: url("../assets/fonts/NotoSansJP-Regular.otf");
}

.errorClass {
  border: 2px #ff0000 solid;
}

.title {
  font-family: titleFont;
  font-size: 28px;
  line-height: 2;
  letter-spacing: 0.8px;
  font-weight: 600;
  text-align: center;
  color: #ffffffe1;
}

.card {
  background: #9bccc8; /* fallback for old browsers */
  border-radius: 15px;
  padding: 15px;
  color: #ffffffe1;
  text-align: center;
  font-size: 22px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.404);

  .btn {
    background: #50425D;
    color: white;
  }
}

h5 {
  display: inline-block !important;
}
