<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-img-top mb-5">
          <h1 class="logo">FTTG</h1>
        </div>
        <form [formGroup]="searchForm" class="">
          <input
            placeholder="Email"
            formControlName="searchString"
            type="email"
            id="searchString"
            class="form-control"
            required
            autofocus
            [ngClass]="{ errorClass: f.searchString.errors && submitted }"
          />

          <div class="btnContainer mb-5">
            <button type="button" class="btn btn-primary go mt-5" (click)="searchCityWeather()">
              Search
            </button>
          </div>
        </form>
      </div>
      {{(searchResult)?.main.temp}}
      <!-- {{ searchResult.list.main.temp | async }} -->
    </div>
  </div>
</div>
